* {
  box-sizing: content-box;
}

.header {
  position: fixed;
  background-color: rgba(0, 255, 255, 0.189);
  height: 80px;
  display: flex;
  position: sticky;
  position: relative;
}

.q1 {
  color: rgb(1, 17, 17);
  display: flex;
  flex-direction: column;
}

.q1 > article {
  padding: 20px;
  margin: 0px;
  position: relative;
  background-color: antiquewhite;
  border-color: black;
}

.answer {
  color: rgb(2, 3, 30);
  background-color: rgb(67, 170, 191);
  border-radius: 0%;
}
button {
}
